*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.name-dis{
    color: white;
    font-family: Josefin Sans,serif;
}

.top-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background-color: black;
    max-height: 10%;
}

.h2 a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    position: relative;
    font-weight: 10;
}

h2{
    justify-content: right;
    padding: 0.5rem;
}


.h2 a::after{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform: scaleX(0);
    transform-origin: right;
}

.h2 a:hover::after{
transform: scaleX(1);
transition: transform .5s;
transform-origin: left;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.main-header{
    align-items: center;
    background: url(https://images.unsplash.com/photo-1562907550-096d3bf9b25c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8ZGFyayUyMGNvZGV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=1200&q=60) no-repeat 50%/cover;
    display: flex;
    height: 92vh;
    justify-content: center;
    padding: 0 100px;
    position: relative;
    text-align: center;
    width: 100%;
}

.bottom-foot{
    background-color:black;
    display: block;
    margin-top: auto!important;
    border-top: 1px solid black;
    padding: 1.5rem;
}

.bottom-div{
    justify-content: center;
    display: flex;
    height: 20%;
}

.icon{
    color: black;
    font-size: xx-large;
    padding:1rem;
}

i{
    color: black;
}

.git{
    cursor: pointer;
    max-width: 20%;
}

